.login-page {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #6b4d27;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 320px;
  padding: 2rem;
}

.login-logo {
  width: 80%;
  height: auto;
  margin-bottom: 1rem;
}

.input-field,
.login-button {
  box-sizing: border-box; /* padding과 border를 너비에 포함 */
  width: 100%;
  padding: 0.5rem; /* 상하 패딩 추가 */
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.input-field::placeholder {
  text-align: center;
}

.login-button {
  background-color: #036635;
  color: white;
  border: 1px solid #036635; /* 테두리 색상을 버튼 배경색과 동일하게 설정 */
  cursor: pointer;
  font-size: 1.2em; /* 글씨 크기 증가 */
  font-weight: bold; /* 글씨 굵게 */
  border-radius: 4px;
}

.login-button:hover {
  background-color: #024423;
}

.password-find {
  color: #fbe9c5;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

.password-find a {
  color: #fbe9c5; /* 원래 텍스트 색상으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.password-find a:hover {
  cursor: pointer; 
}