.sidebar {
  width: 250px;
  background: #6b4d27;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar-logo {
  width: 100%;
  margin: 0 auto;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.sidebar-menu li {
  margin-bottom: 0.7rem;
  position: relative;
}

.sidebar-menu a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 20px;
}

.sidebar-menu li.clicked > a,
.sidebar-menu li.clicked > div {
  background-color: #036635;
  color: white;
  border-radius: 10px 0 0 10px;
}

.sidebar-menu li.clicked ul {
  display: block;
  background-color: white;
  color: black;
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 150px;
  z-index: 100;
}

.sidebar-menu li ul li {
  background-color: white;
  color: black;
  padding: 10px 20px;
}

.sidebar-menu li ul li.active-submenu {
  background-color: #036635;
  color: white;
}

.sidebar-menu li ul li:hover {
  background-color: #036635;
  color: white;
}

.logout-button {
  background: #036635;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: auto;
  width: calc(100% - 2rem);
  border-radius: 10px;
}

.sidebar-footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: auto;
  padding: 0.5rem 0;
}
